week_1_basics_n_setup/2_docker_sql/ingest_data_output.csv
week_1_basics_n_setup/2_docker_sql/ny_taxi_postgres_data/base/16384/16406
week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2021-01.csv

week_1_basics_n_setup/1_terraform_gcp/ny-rides.json